* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-color: #bdd5ea;
}

#container {
  display: flex;
  flex-wrap: wrap;

  width: 600px;
  height: 600px;
  box-sizing: border-box;
  border: 2px solid black;
}

.column,
.cell {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column wrap;

  aspect-ratio: 1 / 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
