html,
:root {
  /* FONTS */
  --text-base: 16px;
  --xs-text: 0.5rem;
  --sm-text: 0.75rem;
  --md-text: 1.25rem;
  --lg-text: 1.5rem;
  --xl-text: 2rem;
  --2xl-text: 2.5rem;
  --3xl-text: 3rem;

  /* CONTAINER WIDTH */
  --sm-w: 360px;
  --md-w: 481px;
  --lg-w: 769px;
  --xl-w: 1024px;
  --full-w: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: 'Jersey 10', serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-base);
}

body {
  height: 100vh;
  background-color: #bdd5ea;

  header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--full-w);
    height: 3em;
    background-color: #fbca1f;
  }

  main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    margin: 1.5em;
  }
}

h1 {
  font-size: var(--xl-text);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
}

button {
  height: fit-content;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-size: var(--lg-text);
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em black;
  cursor: pointer;
  letter-spacing: 1.25px;

  &.painting {
    background-color: #4caf50;
    transition: background-color 0.05s ease-out;
  }

  &:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em black;
  }

  &:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em black;
  }
}

#size-setter {
  background: #fbca1f;
}

#clear {
  background-color: #c92027;
  color: white;
}

#random {
  &.active {
    background-color: #4caf50;
    transition: background-color 0.05s ease-out;
  }
}

#grid-parent {
  display: flex;
  justify-content: center;

  flex: 2 2 var(--md-w);
}

#grid.container {
  display: flex;
  flex-wrap: wrap;

  width: 600px;
  height: 600px;
  box-sizing: border-box;
  border: 2px solid black;
}

.column,
.cell {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column wrap;
}

.cell {
  background-color: white;
  border: 0.125px solid rgba(255, 255, 255, 0.5);
  transition: background-color 0.125s ease-out;

  &[paint-type='none'] {
    background-color: white;
    border: 0.125px solid rgba(80, 80, 80, 0.5);
    transition: background-color 0.5s ease-in-out;
  }

  &[paint-type='classic'] {
    background-color: rgb(0, 0, 0);
  }

  &[paint-type='random'] {
    border: 0.125px solid rgba(80, 80, 80, 0.5);
  }
}
